In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

## Import All Colony Data

In [2]:
csv_path = "Data/Colony_Data/hcny_2019_1.csv"
colony_2019_1_df = pd.read_csv(csv_path)
colony_2019_1_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,5500,5500.0,650,12.0,800.0,200.0,4
1,Arizona,22000,22000.0,2500,11.0,430.0,90.0,NaN
2,Arkansas,28000,28000.0,6500,23.0,20.0,20.0,NaN
3,California,1140000,1580000.0,235000,15.0,83000.0,86000.0,5
4,Colorado,5000,7500.0,320,4.0,NaN,NaN,NaN

In [3]:
# colony_2019_1_df.dtypes

In [4]:
csv_path = "Data/Colony_Data/hcny_2019_2.csv"
colony_2019_2_df = pd.read_csv(csv_path)
colony_2019_2_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,7000,7000.0,990,14,160,330,5
1,Arizona,26000,30000.0,2000,7,5500,3800,13
2,Arkansas,20000,21000.0,2100,10,170,680,3
3,California,650000,700000.0,93000,13,87000,108000,15
4,Colorado,33000,36000.0,9500,26,2200,3400,9

In [5]:
csv_path = "Data/Colony_Data/hcny_2019_3.csv"
colony_2019_3_df = pd.read_csv(csv_path)
colony_2019_3_df.head()

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,6000,6000.0,660,11,240.0,70.0,1.0
1,Arizona,34000,36000.0,7000,19,300.0,300.0,1.0
2,Arkansas,19000,19500.0,1600,8,430.0,310.0,2.0
3,California,700000,1300000.0,136000,10,160000.0,37000.0,3.0
4,Colorado,27000,27000.0,8000,30,1100.0,440.0,2.0

## Merge ALL Colony DataFrames and Calculate Sum

In [6]:
sum_2019_df = pd.concat((colony_2019_1_df, colony_2019_2_df, colony_2019_3_df))
sum_2019_df

,State,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number,Percent_Renovated
0,Alabama,5500,5500.0,650,12.0,800.0,200.0,4
1,Arizona,22000,22000.0,2500,11.0,430.0,90.0,NaN
2,Arkansas,28000,28000.0,6500,23.0,20.0,20.0,NaN
3,California,1140000,1580000.0,235000,15.0,83000.0,86000.0,5
4,Colorado,5000,7500.0,320,4.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
42,West Virginia,7500,8000.0,1500,19.0,30.0,1600.0,20
43,Wisconsin,46000,46000.0,8500,18.0,1800.0,3000.0,7
44,Wyoming,27000,28000.0,3300,12.0,100.0,490.0,2
45,Other States 5/,11010,11510.0,1340,12.0,280.0,NaN,NaN
46,United States,3018110,NaN,399510,13.0,233260.0,91000.0,3

In [7]:
colony_2019_df = sum_2019_df.groupby("State").sum()
colony_2019_df.head()

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Percent_Lost,Added_Colony_Number,Renovated_Colony_Number
State,,,,,,
Alabama,18500,18500.0,2300,37.0,1200.0,600.0
Arizona,82000,88000.0,11500,37.0,6230.0,4190.0
Arkansas,67000,68500.0,10200,41.0,620.0,1010.0
California,2490000,3580000.0,464000,38.0,330000.0,231000.0
Colorado,65000,70500.0,17820,60.0,3300.0,3840.0

In [8]:
# Remove Percent_Lost and Percent_Renovated Columns
colony_2019_df = colony_2019_df[['Colony_Number', 'Max_Colony_Number', 'Lost_Colony_Number',
                                 'Added_Colony_Number', 'Renovated_Colony_Number']]
colony_2019_df

,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
State,,,,,
Alabama,18500,18500.0,2300,1200.0,600.0
Arizona,82000,88000.0,11500,6230.0,4190.0
Arkansas,67000,68500.0,10200,620.0,1010.0
California,2490000,3580000.0,464000,330000.0,231000.0
Colorado,65000,70500.0,17820,3300.0,3840.0
Connecticut,11300,11500.0,770,250.0,530.0
Florida,780000,855000.0,96000,115000.0,64500.0
Georgia,355000,378000.0,47500,42000.0,54500.0
Hawaii,50500,50500.0,1890,1160.0,9750.0
Idaho,338000,452000.0,38500,14900.0,14600.0
Illinois,35500,35500.0,4940,1670.0,2880.0
Indiana,37500,39500.0,3010,2800.0,1960.0
Iowa,69500,76500.0,12500,3670.0,5470.0
Kansas,16800,16900.0,4050,750.0,970.0
Kentucky,20200,21400.0,2150,950.0,630.0
Louisiana,132000,141000.0,9900,13470.0,29080.0
Maine,30000,30500.0,2340,580.0,3570.0
Maryland,22000,23500.0,4190,1140.0,1630.0
Massachusetts,22300,22300.0,2980,920.0,710.0
Michigan,202000,216000.0,24000,3820.0,4800.0
Minnesota,240000,269000.0,38700,8480.0,2630.0
Mississippi,70000,81000.0,8700,4700.0,2600.0
Missouri,28000,29000.0,3100,600.0,420.0
Montana,255000,301000.0,29000,6070.0,18400.0
Nebraska,90500,95500.0,8900,1000.0,1410.0
New Jersey,37500,37500.0,1210,840.0,3240.0
New Mexico,13200,16300.0,410,1030.0,560.0
New York,154000,158000.0,21900,3940.0,4290.0
North Carolina,50000,54500.0,7600,2790.0,6660.0
North Dakota,1042000,1052000.0,109100,18000.0,23100.0
Ohio,49000,51000.0,7800,5300.0,3830.0
Oklahoma,35000,99500.0,3480,610.0,1100.0
Oregon,287000,343000.0,30500,14650.0,24800.0
Other States 5/,30740,31480.0,4010,670.0,930.0
Pennsylvania,55000,56000.0,7680,3770.0,3320.0
South Carolina,39000,41000.0,4790,5400.0,2170.0
South Dakota,462500,462500.0,59600,1300.0,8040.0
Tennessee,31000,32000.0,7300,2460.0,2590.0
Texas,515000,703000.0,45500,75500.0,43700.0
United States,8865540,0.0,1241910,733520.0,625830.0
Utah,62500,72000.0,9000,5370.0,1790.0
Vermont,20500,20500.0,570,230.0,760.0
Virginia,22500,22500.0,2870,440.0,1120.0
Washington,225000,265000.0,40500,18310.0,12300.0
West Virginia,22500,25000.0,3900,250.0,2760.0
Wisconsin,125500,126000.0,18700,4780.0,13100.0
Wyoming,57500,64500.0,6550,2600.0,3990.0

## Import All Bee Stressor Data

In [9]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2019_1.csv"
stressor_2019_1_df = pd.read_csv(csv_path)
stressor_2019_1_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,27.2,22.7,1.8,0.3,3.1,9.0
1,Arizona,25.8,7.9,6.5,16.2,8.4,0.2
2,Arkansas,19.5,1.5,3.3,55.3,0.7,2.9
3,California,43.5,13.4,6.4,12.3,8.7,5.6
4,Colorado,11.2,0.3,NaN,NaN,2.5,0.6

In [10]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2019_2.csv"
stressor_2019_2_df = pd.read_csv(csv_path)
stressor_2019_2_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,30.6,24.6,2.9,0.2,9.7,6.4
1,Arizona,29.0,9.9,2.7,11.4,13.2,0.6
2,Arkansas,53.2,19.7,6.8,50.5,6.9,39.3
3,California,49.0,11.5,8.7,16.0,11.1,3.2
4,Colorado,79.8,12.5,4.8,10.2,9.4,1.0

In [11]:
csv_path = "Data/Bee_Stressor_Data/Stressor_2019_3.csv"
stressor_2019_3_df = pd.read_csv(csv_path)
stressor_2019_3_df.head()

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,46.7,26.7,0.6,4.9,9.0,11.3
1,Arizona,53.9,1.5,0.4,23.3,4.0,2.9
2,Arkansas,47.7,39.7,1.4,7.8,12.5,32.8
3,California,40.5,10.9,5.2,11.3,8.0,5.0
4,Colorado,67.7,1.5,NaN,15.3,2.6,0.8

## Merge ALL Stressor DataFrames and Calculate Mean

In [12]:
stressor_all_df = pd.concat((stressor_2019_1_df, stressor_2019_2_df, stressor_2019_3_df))
stressor_all_df

,State,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,27.2,22.7,1.8,0.3,3.1,9.0
1,Arizona,25.8,7.9,6.5,16.2,8.4,0.2
2,Arkansas,19.5,1.5,3.3,55.3,0.7,2.9
3,California,43.5,13.4,6.4,12.3,8.7,5.6
4,Colorado,11.2,0.3,NaN,NaN,2.5,0.6
...,...,...,...,...,...,...,...
42,West Virginia,65.8,10.7,1.1,0.4,6.1,2.2
43,Wisconsin,40.0,22.1,14.8,14.1,22.0,7.3
44,Wyoming,27.6,12.3,3.2,NaN,4.3,13.2
45,Other States 4/,13.6,2.3,0.3,0.3,32.4,0.9
46,United States,45.7,15.0,5.4,10.9,8.6,5.3

In [13]:
stressor_2019_df = stressor_all_df.groupby("State").mean()
stressor_2019_df.head()

,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
State,,,,,,
Alabama,34.833333,24.666667,1.766667,1.800000,7.266667,8.900000
Arizona,36.233333,6.433333,3.200000,16.966667,8.533333,1.233333
Arkansas,40.133333,20.300000,3.833333,37.866667,6.700000,25.000000
California,44.333333,11.933333,6.766667,13.200000,9.266667,4.600000
Colorado,52.900000,4.766667,4.800000,12.750000,4.833333,0.800000

## Merge ALL DataFrames for 2019

In [14]:
csv_path = "Data/Production_Data/honey_2019.csv"
honey_2019_df = pd.read_csv(csv_path)
honey_2019_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
0,Alabama,7,42.0,294,44,3.20,941,2019
1,Arizona,23,46.0,1058,201,1.97,2084,2019
2,Arkansas,20,55.0,1100,176,1.53,1683,2019
3,California,335,48.0,16080,3216,1.56,25085,2019
4,Colorado,32,46.0,1472,500,2.14,3150,2019

In [15]:
merge_1_df = pd.merge(honey_2019_df, colony_2019_df, on=["State"], how="outer")
merge_1_df.head()

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number
0,Alabama,7.0,42.0,294.0,44.0,3.20,941.0,2019.0,18500.0,18500.0,2300.0,1200.0,600.0
1,Arizona,23.0,46.0,1058.0,201.0,1.97,2084.0,2019.0,82000.0,88000.0,11500.0,6230.0,4190.0
2,Arkansas,20.0,55.0,1100.0,176.0,1.53,1683.0,2019.0,67000.0,68500.0,10200.0,620.0,1010.0
3,California,335.0,48.0,16080.0,3216.0,1.56,25085.0,2019.0,2490000.0,3580000.0,464000.0,330000.0,231000.0
4,Colorado,32.0,46.0,1472.0,500.0,2.14,3150.0,2019.0,65000.0,70500.0,17820.0,3300.0,3840.0

In [16]:
data_2019_df = pd.merge(merge_1_df, stressor_2019_df, on=["State"], how="outer")
data_2019_df

,State,"Honey producing colonies/1,000",Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year,Colony_Number,Max_Colony_Number,Lost_Colony_Number,Added_Colony_Number,Renovated_Colony_Number,VarroaMites_Percent,Other_Pests_Parasites_Percent,Diseases_Percent,Pesticides_Percent,Other_Percent,Unknown_Percent
0,Alabama,7.0,42.0,294.0,44.0,3.20,941.0,2019.0,18500.0,18500.0,2300.0,1200.0,600.0,34.833333,24.666667,1.766667,1.800000,7.266667,8.900000
1,Arizona,23.0,46.0,1058.0,201.0,1.97,2084.0,2019.0,82000.0,88000.0,11500.0,6230.0,4190.0,36.233333,6.433333,3.200000,16.966667,8.533333,1.233333
2,Arkansas,20.0,55.0,1100.0,176.0,1.53,1683.0,2019.0,67000.0,68500.0,10200.0,620.0,1010.0,40.133333,20.300000,3.833333,37.866667,6.700000,25.000000
3,California,335.0,48.0,16080.0,3216.0,1.56,25085.0,2019.0,2490000.0,3580000.0,464000.0,330000.0,231000.0,44.333333,11.933333,6.766667,13.200000,9.266667,4.600000
4,Colorado,32.0,46.0,1472.0,500.0,2.14,3150.0,2019.0,65000.0,70500.0,17820.0,3300.0,3840.0,52.900000,4.766667,4.800000,12.750000,4.833333,0.800000
5,Florida,205.0,45.0,9225.0,830.0,2.48,22878.0,2019.0,780000.0,855000.0,96000.0,115000.0,64500.0,45.100000,23.700000,6.533333,17.600000,8.966667,7.033333
6,Georgia,102.0,33.0,3366.0,370.0,2.61,8785.0,2019.0,355000.0,378000.0,47500.0,42000.0,54500.0,52.133333,18.200000,4.866667,14.833333,10.100000,4.633333
7,Hawaii,16.0,80.0,1280.0,51.0,1.28,1638.0,2019.0,50500.0,50500.0,1890.0,1160.0,9750.0,51.100000,55.233333,0.200000,0.850000,1.433333,0.200000
8,Idaho,92.0,32.0,2944.0,677.0,1.67,4916.0,2019.0,338000.0,452000.0,38500.0,14900.0,14600.0,34.900000,9.233333,11.700000,9.866667,12.333333,0.950000
9,Illinois,11.0,39.0,429.0,116.0,4.31,1849.0,2019.0,35500.0,35500.0,4940.0,1670.0,2880.0,32.700000,16.766667,1.633333,2.200000,9.966667,10.166667
10,Indiana,9.0,55.0,495.0,198.0,3.95,1955.0,2019.0,37500.0,39500.0,3010.0,2800.0,1960.0,30.666667,13.000000,2.733333,11.766667,9.300000,1.233333
11,Iowa,38.0,55.0,2090.0,1170.0,2.24,4682.0,2019.0,69500.0,76500.0,12500.0,3670.0,5470.0,45.066667,8.866667,4.000000,17.266667,18.400000,3.766667
12,Kansas,7.0,79.0,553.0,171.0,2.95,1631.0,2019.0,16800.0,16900.0,4050.0,750.0,970.0,78.433333,18.866667,12.066667,26.500000,7.733333,6.300000
13,Kentucky,6.0,41.0,246.0,44.0,4.50,1107.0,2019.0,20200.0,21400.0,2150.0,950.0,630.0,27.933333,16.866667,0.233333,5.266667,10.200000,7.700000
14,Louisiana,54.0,72.0,3888.0,428.0,2.04,7932.0,2019.0,132000.0,141000.0,9900.0,13470.0,29080.0,52.633333,28.866667,1.333333,19.333333,3.200000,1.433333
15,Maine,15.0,35.0,525.0,110.0,2.92,1533.0,2019.0,30000.0,30500.0,2340.0,580.0,3570.0,10.966667,0.400000,0.100000,2.500000,0.633333,0.366667
16,Michigan,94.0,50.0,4700.0,1363.0,2.36,11092.0,2019.0,202000.0,216000.0,24000.0,3820.0,4800.0,32.633333,10.633333,6.466667,5.266667,5.133333,2.000000
17,Minnesota,118.0,59.0,6962.0,3063.0,1.63,11348.0,2019.0,240000.0,269000.0,38700.0,8480.0,2630.0,31.166667,5.400000,2.366667,9.750000,3.466667,2.300000
18,Mississippi,22.0,80.0,1760.0,141.0,1.85,3256.0,2019.0,70000.0,81000.0,8700.0,4700.0,2600.0,38.233333,51.533333,23.766667,29.233333,5.466667,5.266667
19,Missouri,10.0,43.0,430.0,73.0,3.32,1428.0,2019.0,28000.0,29000.0,3100.0,600.0,420.0,14.333333,5.100000,0.833333,0.466667,3.000000,1.400000
20,Montana,173.0,86.0,14878.0,5802.0,1.48,22019.0,2019.0,255000.0,301000.0,29000.0,6070.0,18400.0,19.600000,5.900000,10.600000,2.566667,2.566667,0.800000
21,Nebraska,39.0,52.0,2028.0,223.0,1.46,2961.0,2019.0,90500.0,95500.0,8900.0,1000.0,1410.0,22.433333,1.666667,16.900000,2.366667,4.066667,2.800000
22,New Jersey,15.0,28.0,420.0,155.0,3.33,1399.0,2019.0,37500.0,37500.0,1210.0,840.0,3240.0,14.633333,2.533333,0.300000,0.200000,1.766667,0.400000
23,New York,59.0,58.0,3422.0,1027.0,4.49,15365.0,2019.0,154000.0,158000.0,21900.0,3940.0,4290.0,24.866667,12.933333,1.966667,6.200000,4.466667,5.600000
24,North Carolina,14.0,42.0,588.0,118.0,4.06,2387.0,2019.0,50000.0,54500.0,7600.0,2790.0,6660.0,29.266667,11.433333,8.133333,2.366667,9.200000,6.933333
25,North Dakota,520.0,65.0,33800.0,6422.0,1.40,47320.0,2019.0,1042000.0,1052000.0,109100.0,18000.0,23100.0,32.766667,8.650000,8.250000,6.400000,8.700000,4.100000
26,Ohio,15.0,67.0,1005.0,442.0,3.42,3437.0,2019.0,49000.0,51000.0,7800.0,5300.0,3830.0,41.033333,12.833333,5.233333,1.166667,5.300000,4.866667
27,Oregon,87.0,32.0,2784.0,1141.0,2.07,5763.0,2019.0,287000.0,343000.0,30500.0,14650.0,24800.0,29.733333,5.000000,8.233333,5.700000,11.966667,5.633333
28,Pennsylvania,19.0,50.0,950.0,409.0,4.24,4028.0,2019.0,55000.0,56000.0,7680.0,3770.0,3320.0,23.966667,6.000000,2.166667,4.066667,3.766667,6.000000
29,South Carolina,16.0,47.0,752.0,45.0,5.01,3768.0,2019.0,39000.0,41000.0,4790.0,5400.0,2170.0,40.033333,14.833333,1.150000,7.133333,15.033333,3.666667
30,South Dakota,270.0,72.0,19440.0,7582.0,1.53,29743.0,2019.0,462500.0,462500.0,59600.0,1300.0,8040.0,7.800000,4.800000,1.750000,7.366667,5.333333,1.733333
31,Tennessee,8.0,57.0,456.0,91.0,4.65,2120.0,2019.0,31000.0,32000.0,7300.0,2460.0,2590.0,60.266667,33.466667,2.650000,14.533333,8.933333,5.900000
32,Texas,126.0,60.0,7560.0,1814.0,2.30,17388.0,2019.0,515000.0,703000.0,45500.0,75500.0,43700.0,23.700000,12.933333,4.766667,8.233333,6.633333,2.166667
33,Utah,22.0,29.0,638.0,89.0,2.06,1314.0,2019.0,62500.0,72000.0,9000.0,5370.0,1790.0,24.800000,3.450000,2.533333,5.250000,0.366667,4.566667
34,Vermont,6.0,48.0,288.0,84.0,4.34,1250.0,2019.0,20500.0,20500.0,570.0,230.0,760.0,16.466667,1.900000,1.233333,0.800000,0.433333,0.733333
35,Virginia,5.0,39.0,195.0,49.0,7.51,1464.0,2019.0,22500.0,22500.0,2870.0,440.0,1120.0,30.733333,16.566667,0.700000,0.800000,3.966667,6.133333
36,Washington,81.0,35.0,2835.0,1191.0,2.12,6010.0,2019.0,225000.0,265000.0,40500.0,18310.0,12300.0,36.633333,1.333333,1.233333,8.166667,4.366667,1.233333
37,West Virginia,6.0,37.0,222.0,47.0,4.50,999.0,2019.0,22500.0,25000.0,3900.0,250.0,2760.0,36.600000,8.200000,0.966667,1.100000,6.000000,1.266667
38,Wisconsin,46.0,47.0,2162.0,692.0,2.99,6464.0,2019.0,125500.0,126000.0,18700.0,4780.0,13100.0,34.100000,15.266667,9.800000,11.100000,14.100000,5.400000
39,Wyoming,39.0,56.0,2184.0,306.0,1.35,2948.0,2019.0,57500.0,64500.0,6550.0,2600.0,3990.0,24.666667,6.350000,2.200000,2.200000,3.700000,6.000000
40,Other States,30.0,47.0,1418.0,351.0,5.91,8380.0,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,United States,2812.0,55.8,156922.0,41022.0,1.97,309136.0,2019.0,8865540.0,0.0,1241910.0,733520.0,625830.0,45.133333,14.400000,7.000000,12.700000,9.833333,5.000000
42,Connecticut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11300.0,11500.0,770.0,250.0,530.0,18.866667,6.433333,2.400000,NaN,3.066667,1.266667
43,Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22000.0,23500.0,4190.0,1140.0,1630.0,17.300000,4.100000,1.000000,0.300000,5.166667,2.933333
44,Massachusetts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22300.0,22300.0,2980.0,920.0,710.0,10.300000,1.550000,0.500000,4.300000,2.700000,6.300000
45,New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13200.0,16300.0,410.0,1030.0,560.0,16.066667,10.166667,0.633333,NaN,1.600000,0.300000
46,Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35000.0,99500.0,3480.0,610.0,1100.0,12.566667,0.700000,0.100000,0.250000,2.250000,2.250000
47,Other States 5/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30740.0,31480.0,4010.0,670.0,930.0,NaN,NaN,NaN,NaN,NaN,NaN
48,Other States 4/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.600000,2.866667,1.600000,4.000000,11.966667,0.866667

In [17]:
# csv files 
data_2019_df.to_csv('data_2019.csv', index=False, header=True)